main{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4rem;
    width: 100%;
}

.car-container{
    box-shadow: 0 0 5px 2px rgb(224, 224, 224);
    border-radius: 1rem;
    width: 60%;
    height: auto;
    margin-top: 4rem;
    display: flex;
    justify-content: space-evenly;
    padding: 2.5rem 2rem 2.5rem 2rem;
}

@media (max-width: 1080px) {
    .car-container{
        flex-direction: column;
    }
    
}

.car-container .left-part {
display: flex;
flex-direction: column;
}

.image_container{
    width: 24rem;
    height: 12rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.history{
    box-shadow: 0 0 5px 2px rgb(224, 224, 224);
    border-radius: 1rem;
    width: 60%;
    height: auto;
    margin-top: 2rem;
    justify-content: space-evenly;
    flex-direction: row;
    padding: 2.5rem 2rem 2.5rem 2rem;
    font-family: "Satoshi", sans-serif;
    font-size: 1rem;
}

ul {
    list-style-type: none;
}


.editbut{
    margin-top: 1rem;
    padding: 1rem;
    padding-left: 3rem;
    padding-right: 3rem;
    background-color: #B9EEC3;
    color: #2B2B2E;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    font-family: "Satoshi", sans-serif;
    cursor: pointer;
}

.editbut:hover {
    background-color: #45a049;
}

.ticket-history{
    margin-bottom: 2rem;
    margin-left: 2rem;
}

.tickettitle{
    font-family: "ZT Talk", sans-serif;
    font-size: 2rem;
}

.car-changes-history{
    margin-left: 2rem;
}

.carchangestitle{
    font-family: "ZT Talk", sans-serif;
    font-size: 2rem;
}

@media (max-width: 1200px) {
    .car-container {
    gap: 1rem;

    }

}


@media (max-width: 1080px){
    .image_container{
        width: 100%;
    }

    .car_image{
        width: 90%;
    }
}

.image_container .car_image{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 1.5rem;
}

.car-container .text h1{
    font-family: "ZT Talk", sans-serif;
    font-size: 2.5rem;
}

.car-container .text p{
    font-family: "Satoshi", sans-serif;
    font-size: 1.25rem;
}

.dates{
    box-shadow: 0 0 5px 2px rgb(224, 224, 224);
    border-radius: 1rem;
    width: 99%;
    height: auto;
    margin-top: 2rem;
    display: flex;
    justify-content: space-evenly;
    padding: 2rem 2rem 2rem 2rem;
}

.begindate{
    font-family: "ZT Talk", sans-serif;
    font-size: 1rem;
}

.enddate{
    font-family: "ZT Talk", sans-serif;
    font-size: 1rem;
}

.calendar{
    box-sizing: border-box;
    margin-top: 0.5rem;
    font-family: "Satoshi", sans-serif;
    font-size: 1rem;
    background: #B9EEC3;
    padding: 0.4rem;
    border-radius: 0.5rem;
    border: none;
    outline: none;
    appearance: none; /* Remove o estilo padrão */
    -webkit-appearance: none; /* Remove o estilo no WebKit */
}

.calendar::-webkit-calendar-picker-indicator {
    display: none;
}
