body {
    background-color: #f9f9f9;
    margin: 0;
    padding: 0;
}

.head-title{
    font-family: "ZT Talk", serif;
    font-size: 2rem;
    justify-content: center;
    display: flex;
    align-items: center;
    margin: 3rem;
}

.car-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 2rem;
    margin: 4rem auto;
    width: 80%;
    max-width: 100rem   ;
    background-color: #FEFFFC;
    border-radius: 2rem;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    gap: 20px;
}

.left-part {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
    gap: 2rem;
}

.image-placeholder {
    width: 100%;
    height: 15rem;
    background-color: #e4e4e4;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    color: #2B2B2E;
    font-family: "Satoshi", sans-serif;
}

.add-picture {
    padding: 1rem 2rem;
    background-color: #E4E4E4;
    color: #2B2B2E;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
    font-family: "Satoshi", sans-serif;
}


.division {
    width: 1px;
    background-color: #2B2B2E;
    height: auto;
    align-self: stretch;
}

.right-part {
    flex: 2;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.right-part h2 {
    font-size: 2rem;
    margin-bottom: 1rem;
}

form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

form label {
    font-family: "ZT Talk", serif;
    font-size: 1.5rem;
    font-weight: bold;
}

form input[type="text"],
form input[type="number"] {
    padding: 1rem;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    background-color: #E4E4E4;
    font-family: "Satoshi", sans-serif;
}

form input[type="submit"] {
    margin-top: 1rem;
    padding: 1rem;
    background-color: #B9EEC3;
    color: #2B2B2E;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    font-family: "Satoshi", sans-serif;
    cursor: pointer;
}

form input[type="submit"]:hover {
    background-color: #45a049;
}

@media (max-width: 768px) {
    .car-container {
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }

    .divider {
        display: none;
    }

    .left-part{
        width: 100%;
    }
}
