:root {
    --blue: #98BBE9;
    --green: #B9EEC3;
    --darkblue: #2B2ED0;
    --white: #FEFFFC;
    --black: #2B2B2E;
}

*,
::before,
::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 1rem;
    background-color: var(--blue);
}

nav .homepage-link-nav img {
    width: 12rem;
}

nav .nav-right-container {
    display: flex;
    align-items: center;
    gap: 2rem;
}

nav .nav-right-container a {
    width: 40%;
}

nav .nav-right-container a img {
    width: 2rem;
    height: auto;
}

nav .nav-right-container p {
    font-family: 'Satoshi', sans-serif;
    margin-bottom: 0.25rem;
}

nav .invisibility {
    display: none;
}


/* Mobile-specific styling */
@media (max-width: 550px) {
    .burger-button {
        display: block;
        width: 2rem;
        height: auto;
    }

    .navbar-hidden{
        display: none;
    }

    .nav-list{
        display: flex;
        flex-direction: column;
    }
}
